@import "src/base";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black-secondary;
  height: 10vh;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99;

  &__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-fa {
      display: none;
    }

    &-logo {
      width: 30px;
      height: 30px;
      object-fit: contain;
      display: block;
    }
    &-text {
      font-size: 20px;
      font-weight: 600;
      margin-left: 4px;
    }
  }


  form {
    flex: 0.6;
    display: flex;
    align-items: center;
    padding: 0.1rem;
    margin: 0 1rem;
    border-radius: 3px;
    border: 1.2px solid;
    background-color: $black-secondary;

    input {
      width: 100%;
      border: none;
      font-weight: 500;
      background: transparent;
      padding: 0.3rem;
      color: $text-color;

      &:focus {
        outline: none;
      }
    }
    button {
      padding: 0 1.25rem;
      color: $text-color;
      background-color: transparent;
      border: none;
      &:focus {
        border: none;
      }
    }
  }

  &__icons {
    flex: 0.24;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      border-radius: 50%;
      width: 40px;
      object-fit: contain;
      margin-left: 5px;
    }
    button {
      color: #065fd4;
      border: 1px solid #065fd4;
    }
  }
}


@media (max-width: $breakpoint-small) {
  .header {
    &__menu {
      &-fa {
        display: block;
      }
    }
    form {
      flex: 1;
    }

    &__menu > *:not(.header__menu-fa) {
      display: none;
    }

    &__icons > *:not(img) {
      display: none;
    }
  }
}
